@font-face {
    font-family: "ansung";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/ansung/ansung.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/ansung/ansung.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/ansung/ansung.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/ansung/ansung.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/ansung/ansung.ttf") format("truetype");
    font-display: swap;
}
.ansung {
    font-family: "ansung";
}